services:
  - type: web
    name: iic-bot-backend
    runtime: node
    region: oregon
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PINECONE_API_KEY
        sync: false
      - key: PINECONE_INDEX
        sync: false
      - key: HUGGINGFACEHUB_API_TOKEN
        sync: false
      - key: GROQ_API_KEY
        sync: false
      - key: PORT
        value: 10000
